header {
    background-color: $secondaryColor;
    padding: 1% 0;
}

body {
    background-color: $secondaryColor;
}

.nbaLogo {
    width: 7%;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.appTitle{
    width: 10%;
    font-size: 1rem;
    margin: 0 10px;
}

.titleContainer{
    display: flex;
    justify-content: center;
}


input {
    padding: 10px;
    font-size: 1.1rem;
    background-color: $secondaryColor;
    border: none;
    border-bottom: 3px solid $primaryColor;
    width: 60%;
    text-align: center;
    color: $primaryColor;
}
input:hover {
    background-color: rgb(200, 200, 200);
    border-radius: 5px 5px 1px 1px;
}


form {
    margin: 3% 0 2% 0;
    text-align: center;
}

.PlayerCardPlayerRoster {
    display: flex;
    justify-content: space-between;
}



.playerNameTitleContainer {
    width: 25%;
    border: 5px solid $primaryColor;
    border-radius: 20px;
    padding-bottom: 50px;
    h2{
        text-align: center;
        margin: 5% 0;
    }
    ul {
        list-style-type: none;
        padding: 0;
        // margin-bottom: 60px;
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
    } 
    li {
        font-size: .9rem;
        width: 40%;
        text-align: center;
        padding: 2%;
        border: 1px solid black;
        border-radius: 5px;
        margin: 2% 0;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    position: relative;
}


.buttonContainer {
    display: flex;
    width: 100%;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    height: 50px;
}

.submit {
    width: 50%;
    border-radius: 0 0 0 15px;
}

.reset {
    width: 50%;
    border-radius: 0 0 15px 0;
}

.playerNamePlayerIMG {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerIMG {
    width: 20%;
    img{
        border: 5px solid $primaryColor;
        border-radius: 20px;

    }
}

.playerCard {
    border: 5px solid $primaryColor;
    border-radius: 20px;
    width: 70%;
    opacity: 0;

    h3 {
        font-size: 1rem;
    }
}


////////////////////////////////////////////


.playerInfoPlayerRoster {
    width: 55%;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.playerRosterContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.playerRoster h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

.playerGenInfo,
.positionClasses {
    display: flex;
    flex-direction: row;
}

.playerTeamContainer, 
.playerPositionContainer,
.playerHeightContainer {
    width: calc((100%/3));
    text-align: center;
    text-transform: uppercase;
}

.playerStats {
    display: flex;
    flex-direction: column;
}

.playerStatsUpper,
.playerStatsLower {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.playerPointsTotalContainer,
.playerReboundTotalContainer,
.playerAssistsTotalContainer,
.playerFreeThrowTotalContainer,
.playerThreePointsTotalContainer,
.playerFantasyPointsTotalContainer {
    width: calc(100%/3);
}

.pointGuard, 
.shootingGuard,
.smallForward,
.powerForward,
.center {
    width: 18%;
    text-align: center;
    border: 5px solid $primaryColor;
    border-radius: 20px;
    padding-bottom: 50px;
    margin: 1%;
    padding: 0.5%;

    h2 {
        text-align: center;
        font-size: 22.5px;
        text-transform: uppercase;
    }
    li {
        font-size: 0.9rem;
        width: 80%;
        padding: 2%;
        list-style: none;
        text-align: center;
        margin: 4% auto;
        border: 1px solid black;
        border-radius: 5px;
    }
}

.startingLineUp {
    margin-bottom: 2%;
}

.startingLineUpTitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

.lineUpContainer {
    display: flex;
    flex-direction: row;
}

.starting,
.bench {
    width: 48%;
    margin: 2%;
    text-align: center;
    border: 5px solid $primaryColor;
    border-radius: 20px;
    padding-bottom: 50px;
    margin: 1%;
    padding: 0.5%;

    h2 {
        text-align: center;
        text-transform: uppercase;
    }
    li {
        font-size: 0.9rem;
        width: 40%;
        padding: 2%;
        list-style: none;
        text-align: center;
        margin: 4% auto;
        border: 1px solid black;
        border-radius: 5px;
    }
}

.instructions {
    h2 {
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
    }

    p {
        font-size: 1.2em;
        text-align: center;
    }
}

.weeklyCalc {
    text-align: center;
    h3 {
        padding-top: 2%;
    }
}
