.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

header {
    display: flex;
    font-family: 'Acme';
    text-transform: uppercase;
    font-size: 50px;
    color: #17408b
}

input {
    border: none;
    border-bottom: 3px solid #17408b;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height: 7.5vh;
    font-size: 25px;
    color: #17408b;
}

form {
    text-align: center;
}

.playerRoster {
    margin-top: 5%;;
}

.playerNameTitleContainer {
    width: 35%;
    font-family: 'Acme';
    color: #17408b;
    text-transform: uppercase;
    text-align: left;
}

.playerNameTitleContainer h2 {
    font-size: 60px;
    margin: 0;
}

.rosterList li {
    font-size: 37.5px;
    margin: 2px;
}

.playerNameTitleContainer {
    font-size: 20px;
    width: 30%;
}

.buttonContainer {
    width: 15%;
    margin-top: 25vw;
}

.playerInfoPlayerRoster {
    width: 55%;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.playerRosterContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.playerName,
.playerIMG,
.playerGenInfo {
    text-align: center;
}

.playerGenInfo {
    display: flex;
    flex-direction: row;
}

.playerTeamContainer, 
.playerPositionContainer,
.playerHeightContainer {
    width: calc((100%/3));
    text-align: center;
    text-transform: uppercase;
}

.playerStats {
    display: flex;
    flex-direction: column;
}

.playerStatsUpper,
.playerStatsLower {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.playerPointsTotalContainer,
.playerReboundTotalContainer,
.playerAssistsTotalContainer,
.playerFreeThrowTotalContainer,
.playerThreePointsTotalContainer,
.playerFantasyPointsTotalContainer {
    width: calc(100%/3);
}